@model DevTest.devTestUserResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>devTestUserResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.testResultNumerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.testResultNumerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.testResultDenominator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.testResultDenominator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devTestUser.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devTestUser.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
